<button (click)='resetFilters()' *ngIf="clientDetails">Reset all filters</button>

<p *ngIf="clientDetailsView">Number of results currently visible: {{ clientDetailsView.length }}</p>

<!-- <button (click)='createAndAddRandomClient()' *ngIf="clientDetails">Add a random client</button> -->

<table class='table table-striped' *ngIf="clientDetails">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Unique Identifier
            </th>
            <th>
                Name
            </th>
            <th>
                Legacy Name
            </th>
            <th>
                Year Established
            </th>
            <th>
                Street Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
        </tr>
        <tr>
            <th>
                not implemented
            </th>
            <th class="viewModelUniqueIdentifierTableHeaderClass"
                id="viewModelUniqueIdentifierTableHeaderIDUniqueIdentifier">
                <select (change)="filterEverything($event)" [(ngModel)]="viewModelUniqueIdentifier">
                    <option [ngValue]=""></option>
                    <option *ngFor="let clientDetail of clientDetailsView | filterUnique: 'uniqueIdentifier'"
                        [ngValue]="clientDetail.uniqueIdentifier">
                        {{ clientDetail.uniqueIdentifier }}
                    </option>
                </select>
            </th>
            <th class="viewModelUniqueIdentifierTableHeaderClass" id="viewModelUniqueIdentifierTableHeaderIDName">
                <select (change)="filterEverything($event)" [(ngModel)]="viewModelName">
                    <option [ngValue]=""></option>
                    <option *ngFor="let clientDetail of clientDetailsView | filterUnique: 'name'"
                        [ngValue]="clientDetail.name">
                        {{ clientDetail.name }}
                    </option>
                </select>
            </th>
            <th class="viewModelUniqueIdentifierTableHeaderClass" id="viewModelUniqueIdentifierTableHeaderIDLegacyName">
                <select (change)="filterEverything($event)" [(ngModel)]="viewModelLegacyNames" multiple aria-multiselectable="true">
                    <option [ngValue]=""></option>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'legacyName' "
                        [ngValue]="clientDetail.legacyName">
                        {{ clientDetail.legacyName }}
                    </option>
                </select>
            </th>
            <th class="viewModelUniqueIdentifierTableHeaderClass"
                id="viewModelUniqueIdentifierTableHeaderIDYearEstablished">
                <select (change)="filterEverything($event)" [(ngModel)]="viewModelYearEstablished">
                    <option [ngValue]=""></option>
                    <option *ngFor="let clientDetail of clientDetailsView | filterUnique: 'yearEstablished'"
                        [ngValue]="clientDetail.yearEstablished">
                        {{ clientDetail.yearEstablished }}
                    </option>
                </select>
            </th>
            <th>
                not implemented
            </th>
            <th class="viewModelUniqueIdentifierTableHeaderClass" id="viewModelUniqueIdentifierTableHeaderIDCity">
                <select (change)="filterEverything($event)" [(ngModel)]="viewModelCities" multiple aria-multiselectable="true">
                    <option [ngValue]=""></option>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'city'"
                        [ngValue]="clientDetail.city">
                        {{ clientDetail.city }}
                    </option>
                </select>
            </th>
            <th class="viewModelUniqueIdentifierTableHeaderClass" id="viewModelUniqueIdentifierTableHeaderIDState">
                <select (change)="filterEverything($event)" [(ngModel)]="viewModelState">
                    <option [ngValue]=""></option>
                    <option *ngFor="let clientDetail of clientDetailsView | filterUnique: 'state'"
                        [ngValue]="clientDetail.state">
                        {{ clientDetail.state }}
                    </option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clientDetail of clientDetailsView">
            <td>
                {{ clientDetail.id }}
            </td>
            <td>
                {{ clientDetail.uniqueIdentifier }}
            </td>
            <td>
                {{ clientDetail.name }}
            </td>
            <td>
                {{ clientDetail.legacyName }}
            </td>
            <td>
                {{ clientDetail.yearEstablished }}
            </td>
            <td>
                {{ clientDetail.streetAddress }}
            </td>
            <td>
                {{ clientDetail.city }}
            </td>
            <td>
                {{ clientDetail.state }}
            </td>
        </tr>
    </tbody>